
  <div>
      <div class="col-80" style="background-color:#0c3c76;">
            <table>
               <tr>
                  <td width="20%"><img src="assets/topo_governo.png" alt="image" width="305" height="80"> </td>
                  <td width="60%" align="center" style="color: antiquewhite;"><h3>Quantitativos do Estoque Local <br>AADJ / CRMJ / SES / RJ</h3></td>
                  <td width="20%"><img src="assets/mandados.JPG"></td>
               </tr>
            </table>
      </div>
    <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a routerLink="/estoque" routerLinkActive="active" class="nav-link active">
                    <i class="bi bi-house-fill"></i>Home </a>
                </li>
                <li class="nav-item">
                  <a data-toggle="collapse" href="#collapse1" class="nav-link active">
                       <i class="bi bi-graph-up"></i>Dashboards</a>
                     <table>
                     <tr id="collapse1" class="panel-collapse collapse">
                        <td>   
                          <a routerLink="/tabelas" routerLinkActive="active" class="nav-link active">
                            <i class="bi bi-file-earmark-ruled"></i>Total Consolidado </a>
                        </td>
                     </tr>   
                     <tr id="collapse1" class="panel-collapse collapse">
                      <td>   
                        <a routerLink="/tipos" routerLinkActive="active" class="nav-link active">
                          <i class="bi bi-file-earmark-ruled"></i>Total Consolidado por tipo de produto </a>
                      </td>
                   </tr>  
                    </table>
                </li>                
              </ul>
            </div>
          </nav>
  
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <router-outlet></router-outlet>          
          </main>
        </div>
    </div>
  </div>
